<section>
  <div class="container" id="content">
    <form action="">
      <div class="d-flex justify-content-center">
        <h5 class="text-center content-header" class="text-center">Thêm mới hợp đồng</h5>

      </div>
      <div class="form-wrap">
        <div class="form-wrap-content">
          <div class="form-group">
            <label><b>KHÁCH HÀNG :</b></label>
            <select name="client" id="customer" class="text-center">
              <option value="0">--Chọn khách hàng--</option>
              <option value="1">Nguyễn Văn A</option>
              <option value="2">Nguyễn Văn B</option>
              <option value="3">Nguyễn Văn C</option>
              <option value="4">Nguyễn Văn D</option>
            </select>
          </div>
          <div class="d-flex ">
            <div class="form-group w-50">
              <label><b>NHÂN VIÊN :</b></label>
              <select name="employee" id="employee" class="text-center">
                <option value="0">--Chọn nhân viên--</option>
                <option value="1">A</option>
                <option value="2">B</option>
                <option value="3">C</option>
                <option value="4">D</option>
                <option value="5">E</option>
              </select>
            </div>
            <div class="form-group w-50">
              <label><b>DỊCH VỤ :</b></label>
              <select name="service" id="service" class="text-center">
                <option value="0">--Chọn loại khách--</option>
                <option value="1">H</option>
                <option value="2">O</option>
                <option value="3">G</option>
                <option value="4">S</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label><b>NGÀY LÀM HỢP ĐỒNG :</b></label>
            <input type="date" name="dateBegin" id="dateBegin" style="text-align: center">
          </div>
          <div class="form-group">
            <label><b>NGÀY KẾT THÚC :</b></label>
            <input type="date" name="dateEnd" id="dateEnd" style="text-align: center">
          </div>
          <div class="form-group">
            <label><b>TIỀN ĐẶT CỌC :</b></label>
            <input type="text" name="tdc" id="tdc" placeholder="Nhập số tiền đặt cọc" required>
          </div>
          <div class="form-group">
            <label><b>TỔNG TIỀN :</b></label>
            <input type="text" name="cost" id="cost" placeholder="Nhập tổng tiền" required>
          </div>

          <div class="d-flex justify-content-center">
            <button type="reset" class="btn btn-danger">RESET</button>
            <button class="btn btn-success">CREATE</button>
          </div>
        </div>

      </div>
    </form>
  </div>
</section>
