<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Shop</title>
  <link rel="stylesheet" href="webjars\bootstrap\5.2.3\css\bootstrap.min-jsf.css">
<body>
<p>
  <a href="/shopping-cart" class="btn btn-success" style="margin: 20px">Your cart</a>
</p>
<table class="table">
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Picture</th>
  </tr>
  <tr th:each="product : ${products}">
    <td th:text="${product.name}"></td>
    <td th:text="${product.price}"></td>
    <td>
      <a th:href="@{/detail/{id}(id=*{product.id})}"><img style="width:200px;" th:src="@{/img/{anh}.jpg(anh=${product.img})}"></a>
    </td>
  </tr>


</table>
</body>
</html>
