<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Product</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="mt-4" style="text-align: center">Create New Product</h1>
    <form th:action="@{/create}" method="post" th:object="${product}">
        <div class="form-group">
            <label >Name:</label>
            <input type="text"  th:field="*{name}" class="form-control"  required>
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
        </div>

        <input type="hidden" th:field="*{status}" class="form-control" >


        <div class="form-group">
            <label >Gia bat dau:</label>
            <input type="text" th:field="*{price}" class="form-control" required>
            <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>
        </div>
        <input type="hidden" th:field="*{status}">

        <div class="form-group">
            <label >Category:</label>
            <select class="form-control" th:field="*{category.categoryId}" required>
                <option th:each="c: ${categories}" th:value="${c.categoryId}"
                        th:text="${c.categoryName}"></option>
            </select>
        </div>
        <button type="reset" class="btn btn-danger">Reset</button>
        <button type="submit" class="btn btn-primary">Create</button>
        <a class="btn btn-success" href="/list">Back to Home page</a>
    </form>
</div>



<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>
