<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>list</title>
  <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" rel="stylesheet">
</head>
<body>

<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarStudent" role="button" data-bs-toggle="dropdown"
             aria-expanded="false">
            Sách
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarStudent">
            <li><a class="dropdown-item" href="book/create">Tạo sách mới</a></li>
            <li><a class="dropdown-item" href="book/list">Hiển thị tất cả sách</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarEnrollment" role="button" data-bs-toggle="dropdown"
             aria-expanded="false">
            Người mượn
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarEnrollment">
            <li><a class="dropdown-item" href="person/create">Tạo người dùng mới</a></li>
            <li><a class="dropdown-item" href="person/list">Danh sách người mượn</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</div>


<div class="row">
  <div class="col-lg-3"></div>
  <div class="col-lg-6">
    <div th:if="${message}" class="alert alert-primary" role="alert" th:text="${message}">
    </div>
  </div>
  <div class="col-lg-3"></div>
</div>
<section>
  <div class="container">
    <h1 style="text-align:center">Danh sách phiếu mượn</h1>
    <a th:href="@{/borrow/create}" class="btn btn-success" style="display: inline-block; float: left">
      Borrow Book</a>
    <form style="display: inline-block; float: right" th:action="@{/borrow/search}" method="get">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search by ID" name="name">
        <input class="btn btn-success" type="submit" value="Search"/>
      </div>
    </form>
    <table class="table">
      <thead>
      <tr>
        <th>Id</th>
        <th>Borrow Date</th>
        <th>Status</th>
        <th>Return Date</th>
        <th>Book Name</th>
        <th>Person</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="b: ${borrows}" th:object="${b}">
        <td th:text="*{idBorrow}"></td>
        <td th:text="*{#dates.format(borrowDate, 'dd/MM/yyyy')}"></td>
        <td th:text="*{statusBorrow}"></td>
        <td th:text="*{#dates.format(returnDate, 'dd/MM/yyyy')}"></td>
        <td th:text="*{book.nameBook}"></td>
        <td th:text="*{person.getNamePerson()}"></td>-
        <td>
          <a th:href="@{/borrow/return/{id}(id=*{idBorrow})}" class="btn btn-warning">Return</a>
          <button class="btn btn-danger btn-delete"
                  th:data-borrow-id="${b.idBorrow}"
                  th:data-borrow-book-name="${b.book.nameBook}"
                  th:data-borrow-person-name="${b.person.namePerson}"
          >
            Delete
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-between align-items-center">
      <a class="btn btn-primary" th:href="@{/borrow/list(page=${borrows.number - 1})}"
         th:if="${borrows.hasPrevious()}">
        Previous
      </a>
      <span class="mx-2">
                Page <span th:text="${borrows.number + 1}"></span>/<span th:text="${borrows.totalPages}"></span>
            </span>
      <a class="btn btn-primary" th:href="@{/borrow/list(page=${borrows.number + 1})}"
         th:if="${borrows.hasNext()}">
        Next
      </a>
    </div>
  </div>

  <div class="container text-center">
    <a class="btn btn-default btn-lg" href="/borrow/list">Back to Home page</a>
  </div>
</section>


<!--MODAL DETETE-->

<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Bạn có chắc chắn muốn xóa phiếu mượn sách <b id="book_name"></b> của <b id="person_name"></b> không ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <a id="deleteButton" class="btn btn-danger">Delete</a>
      </div>
    </div>
  </div>
</div>

<!--LINK SCRIPT XỬ LÝ MODAL-->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>

<!--CODE JS XỬ LÝ MODAL-->
<script>
  $(document).ready(function () {
    $('.btn-delete').click(function () {
      $('#confirmDeleteModal').modal('show');
      var borrowId = $(this).data('borrow-id');
      var bookName = $(this).data('borrow-book-name');
      var personName = $(this).data('borrow-person-name');
      document.getElementById("book_name").innerText = bookName;
      document.getElementById("person_name").innerText = personName;
      $('#confirmDeleteModal #deleteButton').attr('href', '/borrow/delete/' + borrowId);
    });
  });
</script>


</body>
</html>

